.Technologies__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 80%;
}
.Technologies_header {
  color: white;
  font-size: xx-large;
}
