.card {
  max-width: 15%;
  transition: all 250ms ease-in-out;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  overflow: hidden;
  &__image {
    width: 250px;
    height: 280px;
  }
  &:hover {
    scale: 1.15;
  }
}

.big {
  transform: scale(1.1);
}

.card__content {
  text-align: center;
  font-size: small;
  margin: 0;
  background-color: aliceblue;
  align-items: center;
}
.card__content_title {
  font-size: 22px;
  height: clamp(30px, 3vw, 30px);
}
