.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
  background-color: #195f4f4f;
  height: 4vh;
  margin: 0 2% 0 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 90%;
}

.navigation__logo {
  text-decoration: none;
  font-size: 2em;
  height: 30px;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  cursor: pointer;
  border-radius: 5px;
}

.nav_link,
.cv_down__btn {
  border-radius: 5px;
  width: 10%;

  color: #fff;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  text-decoration: none;
}
.nav_link:hover,
.navigation__logo:hover,
.cv_down__btn:hover {
  border-radius: 5px;
  background: #fff;
  color: #16846a;
  font-style: italic;
}
.nav_link:before,
.nav_link:after,
.navigation__logo:before,
.navigation__logo:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  border-radius: 5px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
.nav_link:after .navigation__logo:after {
  right: inherit;
  top: inherit;
  border-radius: 5px;
  left: 0;
  bottom: 0;
}
.nav_link:hover:before,
.nav_link:hover:after,
.navigation__logo:hover:before,
.navigation__logo:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
