.modal {
  position: absolute;
  inset: 0 0 0 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.modal_content {
  width: 70%;
  height: 70%;
  background-color: #dce1ec;
  color: #6e1010;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  transition: all 1s ease-in-out;
}
