.header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &__container {
    background: url('../../images/back4.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    height: 100vh;
  }
  &__dataContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
  }
}

.dataContainer__label {
  font-size: clamp(16px, 1.8vw, 28px);
  color: rgb(244, 244, 244);
  min-width: 350px;
  width: 70%;
  padding: 10%;
}
.dataContainer__imgContainer {
  width: 30%;
}
.header__dataContainer_name {
  margin-top: 0;
}
.dataContainer__img {
  width: 70%;
  border-radius: 50%;
  position: relative;
  scale: 1.4;
}
