.project__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
}
.abc {
  max-width: 1200px;
  width: 80%;
}
.project__header {
  color: white;
  font-size: xx-large;
}
