.project__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project__header {
  color: white;
  font-size: clamp(30px, 3vw, 50px);
  display: flex;
  justify-content: center;
}
.test {
  width: 100%;
}
